* {
  font-family: "Baloo Bhai", cursive;
}

/* BASE */
.base-turtle {
  color: green;
  font-family: "Baloo Bhai", cursive;
  font-size: 90px;
}

.base-title {
  display: flex;
}

.base-turtle-icon {
  height: 100px;
  margin: 0 30px;
}

.base-nav {
  color: green;
}
#base-header {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  padding: 20px;
}
/* LANDING PAGE */

.landing-turtle-img {
  position: absolute;
  height: 300px;
  width: 500px;
  z-index: -1;
}

/* PROFILE PAGE */
.profile-section {
  display: flex;
  justify-content: space-evenly;
}
