{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS  FILE-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- JAVASCRIPT FILE -->
    <script defer src="{% static 'script/main.js' %}"></script>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <title>Turtle</title>
  </head>
  <body>
    <header id="base-header">
      <div class="base-title">
        <a href="{% url 'landing' %}"><img class="base-turtle-icon" src="../static/assets/turtle.png"></a>
        <h4><a class="base-turtle" href="{% url 'landing' %}">Turtle.</a></h4>
      </div>
      <div class="base-icons">
        <ul class="nav nav-tabs">
          <li><a class="base-nav" href="{% url 'product_list' %}"><img class="base-turtle-icon" src="../static/assets/shopping-cart.png"></a></li>
          <li class="base-nav nav-item dropdown">
            
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              ><img class="base-turtle-icon" src="../static/assets/user.png"></a
            >

            <div class="dropdown-menu">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
          </li>
        </ul>
      </div>
    </header>
    <div class="mb-5">
      {% block content %} {% endblock %}
    </div>
  </body>
  <footer>
      <a href="{% url 'landing' %}"><img class="base-turtle-icon" src="../static/assets/turtle.png"></a>
      <label>This is the footer</label>

  </footer>
</html>
