{% extends 'base.html' %} {% block content %}

<main class="landing-main">
  {% if user.is_authenticated %}
  <video
    class="landing-video"
    loop="true"
    autoplay="true"
    muted="true"
    src="../static/assets/turtlevideo.mp4"
  ></video>
  <div class="landing-div">
    <h1>Hi {{user.first_name}}, welcome back!</h1>
    <h3>What do you want to do today?</h3>
    <div>
      <button class="btn btn-lg btn-info">
        <a href="{% url 'product_list' %}">Buy</a>
      </button>
      <button class="btn btn-lg btn-info">
        <a href="{% url 'product_create' %}">Sell</a>
      </button>
      <button class="btn btn-lg btn-info">
        <a href="{% url 'profile' %}">Go to My Profile</a>
      </button>
    </div>
    <div>
      <button onclick="sendLoggedMsg()" class="btn btn-sm btn-warning">
        I'm not sure!
      </button>
    </div>
    <div id="logged-message-div">
      <h1 id="logged-message"></h1>
    </div>
  </div>
  {% else %}
  <video
    class="landing-video"
    loop="true"
    autoplay="true"
    muted="true"
    src="../static/assets/handshake.mp4"
  ></video>
  <div class="landing-div">
    <h1>Hi, welcome to Turtle!</h1>
    <span class="text-muted">Detach from the useless</span>
    <a
      id="hi-turtle-btn"
      class="btn btn-lg btn-success"
      onclick="sendWelcomeMsg()"
      >Hi Turtle!</a
    >
    <p id="clickme-message"></p>
    <div class="landing-section-account">
      <label><a href="{% url 'register' %}">New Here?</a></label>
      <label><a href="{% url 'login' %}">Already have an account?</a></label>
      <label
        ><a href="{% url 'product_list' %}"
          >Just want to check what's out there?</a
        ></label
      >
    </div>
  </div>
  {% endif %}
</main>
{% endblock %}
