{% extends 'base.html' %} {% block content %}
<main class="product-form-main">
  <h1 class="product-form-title">Sell your product</h1>
  <section class="product-form-section">
    <hr />
    <form
      enctype="multipart/form-data"
      method="POST"
      class="create-product-form"
    >
      <div>
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_name" class="product-form-label">Product Name</label>
          <div>
            {{form.name}}
          </div>
        </div>
        <hr />
        <div class="mb-3">
          <label for="id_category" class="product-form-label"
            >Product Category</label
          >
          <div>
            {{form.category}}
          </div>
        </div>
        <hr />
        <div class="mb-3">
          <label for="id_description" class="product-form-label"
            >Description</label
          >
          <div>
            {{form.description}}
          </div>
        </div>
        <hr />
        <div class="mb-3">
          <label for="id_photo" class="product-form-label"
            >Product Picture</label
          >
          <div>
            {{form.photo}}
          </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-lg btn-primary shadow">
          Upload
        </button>
      </div>
    </form>
  </section>
</main>

{% endblock %}
