{% extends 'base.html' %} {% block content %}

<section>
  <div>
    <h1>Check out all products</h1>
    <h2>
      Hey {{user.first_name}}, ready to unlock oportunities?
    </h2>
  </div>
</section>

<main class="product-list-main">
  <section class="product-list-container">
    {% for product in products %}
    <p>{{ product.photo }}</p>
    <h3>{{ product.name }}</h3>
    <span>{{ product.category }}</span>
    <!-- {{ product.photo }} -->

    <a href="{% url 'product_detail' pk=product.pk %}">See details</a>
    {% endfor %}
  </section>
</main>

{% endblock %}
